.navbar {
	width: 100vw;
	height: 10vh;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	justify-content: space-around;
	position: fixed;
	align-items: center;
	a {
		text-decoration: none;
		font-size: 20px;
		color: #000;
		font-weight: 400;
	}
	a:hover {
		cursor: pointer;
	}
	.links {
		display: flex;
		gap: 2rem;
		align-items: center;
		a {
			font-weight: 600;
		}
	}
}
